

.list-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 180px;
    width: 100vw;
    height: calc(100vh - 200px);
 
}

@media all and (max-width: 800px) {
    .list-container{
        flex-direction: column;
    }
}

.list-box{
    width: 35vw;
    height: calc(100vh - 200px);
    border: 1px dashed black;
    border-width: 0px 1px 0px 0px;
    box-sizing: border-box;
    padding: 20px 30px;
}

@media all and (max-width: 800px) {
    .list-box{
        width: 100vw;
        border-width: 0px 0px 1px 0px;
    }
}

ul li{
    list-style-type: disc;
    list-style-position: outside;
}

.list-box a{
    text-decoration: none;
}

.list-box h1{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 900;
    border: 1px dashed black;
    border-width: 0px 0px 1px 0px;
}
.list-box h2{
    text-align: right;
    font-family: Manrope;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border: 1px dashed black;
    border-width: 0px 0px 1px 0px;
}

.list-box h3{
    width: 30%;
    min-width: 165px;
    text-align: left;
    font-family: Syne Mono;
    font-size: 10px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 50px;
    border: 1px dashed black;
    padding-bottom: 5px;
    padding-right: 5px;
    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
}



.list-box li{
    font-family: Syne Mono;
    font-size: 15px;
    font-weight: 500;
    color: black;
    list-style-type: disc;
    list-style-position: outside;
    margin-bottom: 20px;
    margin-left: -25px;
}

.list-box li:hover{
    text-decoration: underline;
}

.sub-list-box{
    width: 30vw;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    padding: 20px;
}

.sub-list-box a{
    text-decoration: none;
}

.sub-list-box h1{
    font-family: Manrope;
    font-size: 20px;
    font-weight: 900;
    border: 1px dashed black;
    border-width: 0px 0px 1px 0px;
}

.sub-list-box li{
    font-family: Syne Mono;
    font-size: 20px;
    font-weight: 900;
    color: black;
    list-style-type: disc;
}

.sub-list-box li:hover{
    text-decoration: underline;
}

