

.article-image{
    position: absolute;
    top: 70px;
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
    z-index: -1;
    padding: 0px;
    margin: 0px;
}

.article-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.poem-container{
    width: 500px;
    background-color: ;
    margin: auto;
    left: 0;
    right: 0;
    padding: 50px;
    padding-top: 280px;
    padding-bottom: 400px;
  
}

@media all and (max-width: 800px) {
    .poem-container{
        width: 100vw;
        box-sizing: border-box;
    }
}

.poem-headline-container{
    
    margin-top: 50px;
    text-align: left;
}

@media all and (max-width: 800px) {
    .poem-headline-container{
        margin-top: -100px;
    }
}

.poem-headline-container h1{
    font-family: Fraunces;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -.8px;
    animation: 1s headlineload;
}

@keyframes headlineload{
    
    0%{
        font-weight: 300;
    }
    
    100%{
        font-weight: 600;
    }
    
}

.poem-subheadline-container h2{
    margin-top: -10px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
}



.poem-paragraph-container p{
    margin-top: 50px;
    font-family: Bookish;
    font-size: 18px;
    line-height: 31px;
    font-weight: 900;
    text-justify: pretty;
}

@media all and (max-width: 800px) {
    .poem-paragraph-container p{
        font-size: 14px;
        line-height: 25px;
    }
}

.next-poem-container{
    width: 280px;
    float: right;
}

.next-poem-container a{
    text-decoration: none;
}

.next-poem-container h2{
    margin-top: 150px;
    padding-bottom: 10px;
    font-family: Bookish;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    color: dodgerblue;
    border-bottom: 1px dashed dodgerblue;
}

.next-poem-container h3{
    margin-top: -10px;
    font-family: Bookish;
    font-size: 15px;
    line-height: 25px;
    font-weight: 900;
    text-align: right;
    color: grey;
}

.next-poem-container a:hover h3{
    text-decoration: underline;
}

.footer-container{
    background-color: black;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    color: white;

}

.article-icon-right{
    position: fixed;
    
    bottom: 50px;
    right: 20px;

    width: 50px;
    height: 50px;
}

.article-icon-right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
