@font-face {
    font-family: pt root;
    src: url(./fonts/pt-root.ttf);
}

@font-face {
    font-family: Fraunces;
    src: url(./fonts/Fraunces.ttf);
}

@font-face {
    font-family: Fraunces Italic;
    src: url(./fonts/Fraunces-Italic.ttf);
}

@font-face {
    font-family: Manrope;
    src: url(./fonts/Manrope.ttf);
}

@font-face {
    font-family: Stix Medium;
    src: url(./fonts/STIXTwoText-Medium.ttf);
}

@font-face {
    font-family: Bookish;
    src: url(./fonts/Bookish.otf);
}

/* SWIPER JS CSS */

html,
body {
  position: relative;
  height: 100%;
}

body {
  
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.swiper {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  text-align: center;
}

.gallery-top {
  height: 65%;
  max-height: 700px;
  width: 70%;
  margin: 50px;
  border-radius: 20px;
  border: none;
  filter: drop-shadow(0 10px 20px rgba(0,0,0,0.5));
}

@media all and (max-width: 800px) {
    .gallery-top {
        height: 50%;
        width: 90%;
        margin-top: 100px;
    }
}


.gallery-top .swiper-slide{


}

.gallery-thumbs {
    position: absolute;
    right: 0px;
    bottom: 0px;;
  height: 15%;
  width: 500px;
  box-sizing: border-box;
  padding: 10px 0;
}

@media all and (max-width: 800px) {
    .gallery-thumbs {
        width: 200px;
        margin-top: -20px;
    }
}


.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.5;
}

@media all and (max-width: 800px) {
    .gallery-thumbs .swiper-slide {
        height: 75%;
    }
}


.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

/* SWIPER CSS END */

body{
    margin: 0px;
    padding: 0px;
}

.main-container{
    margin: 0px;
    padding: 0px;
}


.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.nav-container  a{
    text-decoration: none;
    color: black;
    margin: 10px 40px;
}

.nav-container a h3{
    font-size: 14px;
    font-family: pt root;
}

.name-container{
    position: absolute;
    width: 245px;
    height: 50px;
    left: 0px;
    top: 0px;
    padding: 10px 30px;
    z-index: 11;
    border-bottom: 1px solid black;
    background-color: white;

}

@media all and (max-width: 800px) {
    .name-container {
        width: 100vw;
        box-sizing: border-box;
        padding-bottom: 60px;
    }
}

.name-container:after {
    content: "";
    background: black;
    position: absolute;
    top: 0%;
    right: 0;
    height: 80%;
    width: 1px;
  }

  @media all and (max-width: 800px) {
    .name-container::after {
        display: none;
    }
}
  

.name-container .text-left{
    float: left;
    width: 50;
    text-align: left;
    margin-top: 5px;
}

.name-container .text-right{
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 5px;
}

.name-container h1{
    font-size: 26.3px;
    font-family: Manrope;
    text-align: center;
    margin-top: 0px;
    font-weight: 900;
    animation: 1s rootwidth;
    color: black;
}

.name-container h2{
    margin-top: -20px;
    font-size: 10px;
    font-family: Manrope;
    animation: 1s fontanim;
    font-weight: 500;
    color: black;
}

@keyframes rootwidth{
    
    0%{
        font-weight: 200;
    }
    
    100%{
        font-weight: 900;
    }
    
}


@keyframes fontanim{
    

    50%{
        font-family: Manrope;
        font-weight: 900;
        letter-spacing: 1px;
    }
    
    100%{
        font-family: Manrope;
        font-weight: 500;
        letter-spacing: 0px;
    }
    
}

.ribbon-container-1{
    position: absolute;
    left: 30px;
    top: 70px;
    height: 50px;
    background-color: black;
    animation: .6s linkmargin;
    z-index: 1;
}

.ribbon-container-1 h2{
    color: white;
    font-size: 11px;
    padding: 3px;
    margin-top: -1px;
}

.ribbon-container-2{
    position: absolute;
    left: 51px;
    top: 70px;
    height: 50px;
    background-color: dodgerblue;
    animation: .8s linkmargin;
    z-index: 1;
}

.ribbon-container-2 h2{
    color: white;
    font-size: 11px;
    padding: 3px;
    margin-top: 30px;
}

.ribbon-container-3{
    position: absolute;
    left: 71px;
    top: 70px;
    height: 50px;
    background-color: #e6435b;
    animation: 1s linkmargin;
    z-index: 1;
}

.ribbon-container-3 h2{
    color: white;
    font-size: 11px;
    padding: 4px;
    margin-top: 29px;

}

.link-container{
    width: 245px;
    height: 30px;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 305px;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    background-color: white;
    
}

@media all and (max-width: 800px) {
    .link-container {
        display: none;
    }
}

.link-container:after {
    content: "";
    background: black;
    position: absolute;
    top: 0%;
    right: 0;
    height: 80%;
    width: 1px;
  }



.link{
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 0px 25px;
    transition: .25s;
    animation: .6s linkmargin;
    text-decoration: none;

}

@keyframes linkmargin{
    
    0%{
        transform: translateY(-150px);
    }
    
    100%{
        transform: translateY(0px);
    }
    
}

.link img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  
}

.link h4{
    margin-top: 30px;
    display: none;
    transition: .5s;
    font-size: 14px;
    font-family:pt root;
    text-decoration: none;
    color: black;
}

.link:hover h4{
    display: block;
   animation: .6s bouncehover infinite;
   transform: translateX(-50%);
}

.link:hover {
    filter: drop-shadow(0,5px,5px, rgba(0,0,0,0.5));
    /* animation: .6s bouncehover infinite; */
}

@keyframes bouncehover{
    
    0%{
        transform: translateY(0px);
    }
    
    50%{
        transform: translateY(-3px);
    }

    100%{
        transform: translateY(0px);
    }
    
}

.text-container{
    width: 285px;
    height: 30px;
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    left: 610px;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    background-color: white;
}

@media all and (max-width: 800px) {
    .link-container {
        display: none;
    }
}

.text-container:after {
    content: "";
    background: black;
    position: absolute;
    top: 0%;
    right: 20px;
    height: 80%;
    width: 1px;
  }

.text-container p{
    margin-top: -2px;
    margin-left: -20px;
    font-family: Bookish;
    font-size: 14px;
    font-weight: 900;
    line-height: 18px;

}

.action-container{
    width: 50px;
    height: 30px;
    padding: 20px 20px 20px 20px;
    display: block;
    position: absolute;
    right: 0px;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    background-color: white;
}

@media all and (max-width: 800px) {
    .link-container {
        display: none;
    }
}

.action-container:after {
    content: "";
    background: black;
    position: absolute;
    top: 0%;
    left: 20px;
    height: 80%;
    width: 1px;
  }

  .action-container svg{
    position: absolute;
    right: 16.3px;
    top: 20px;
    width: 35px;
    animation: .6s linkmargin;
  }

  .action-container h4{
    display: none;
    width: 150px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    right: 70px;
    top: 2px;
    background-color: dodgerblue;
    color: white;
    transform-origin: right;

  }

  .kofilink:hover h4{
    display: block;
    animation: .3s kofianim;
  }

  @keyframes kofianim{
    
    0%{
        transform: scaleX(0);
    }


    100%{
        transform: scaleX(1);
    }
    
}


.filler-container{

    width: calc(100% - 600px);
    height: 70px;
    padding: 0px 0px;
    display: block;
    position: absolute;
    right: 0px;
    border: 1px solid black;
    border-width: 0px 0px 1px 0px;
    background-color: white;

}

.filler-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}


.work-container{
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;

}

.work-title{
    width: 60%;
    margin: auto;
    margin-top: calc(15% + 60px);
    transform: skew(-3deg);
   
}

@media all and (max-width: 800px) {
    .work-title{
        width: 70%;
        margin-top: 60px;
        transform: none;
    }
}

.swiper-slide a{
    text-decoration: none;
}

.work-title h1{
    font-family: Bookish;
    font-size: 36px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 20px 25px;
    border-radius: 3px;
}

@media all and (max-width: 800px) {
    .work-title h1{
        font-size: 20px;
    }
}

.work-title h2{
    width: 40%;
    margin: auto;
    margin-top: -40px;
    font-family: Bookish;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 12px 20px 20px 20px;
    border-radius: 3px;
}

@media all and (max-width: 800px) {
    .work-title h2{
        font-family: pt root;
        font-size: 12px;
        margin-top: 0px;
        width: 60%;
        padding: 10px 3px;
    }
}

.work-title h3{
    width: 30%;
    margin: auto;
    margin-top: 10px;
    font-family: Bookish;
    font-size: 18px;
    font-weight: 600;
    color: white;
    background-color: black;
    padding: 12px 10px;
    text-decoration: underline;
    border-radius: 3px;
}

@media all and (max-width: 800px) {
    .work-title h3{
        font-family: pt root;
        font-size: 12px;
        margin-top:-10px;
        width: 60%;
        padding: 10px 3px;
    }
}

.work-container-title{
    position: absolute;
    top: 25px;
    left: 18vw;
    width: 200px;
    height: 25px;
    background-color: dodgerblue;
    z-index: 10;
    text-align: center;
    border-radius: 12px 12px 0px 0px;
}

@media all and (max-width: 800px) {
    .work-container-title{
        width: 150px;
        top: 75px;
    }
}

.work-container-title h1{
    font-family: Manrope;
    font-size: 12px;
    font-weight: 800;
    margin: 0px;
    padding: 5px;
    color: white;
    letter-spacing: 1.3px;
}

@media all and (max-width: 800px) {
    .work-container-title h1{
        font-size: 10px;
    }
}

.real-index-footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 30px;
    box-sizing: border-box;
    background-color: black;
    padding: 5px;
    margin: 0px;
}

.real-index-footer h1{
    margin-top: 5px;
    margin-left: 5px;
    
    font-family: Syne Mono;
    font-size: 10px;
    color: white;
    text-align: left;
}

@media all and (max-width: 800px) {
    .real-index-footer h1{
        font-size:7px;
    }
}

.index-footer{
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 30px;
    box-sizing: border-box;
    background-color: black;
    box-sizing: border-box;
    padding: 5px;
}

.index-footer h1{
    margin-top: 5px;
    margin-left: 5px;
    
    font-family: Syne Mono;
    font-size: 10px;
    color: white;
    text-align: left;
}

.if-image-left{
    position: absolute;
    left: 20px;
    top: -70px;
    width: 50px;
    height: 50px;
    background-color: ;
}

.if-image-left img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.if-image-right{
    position: absolute;
    right: 20px;
    top: -70px;
    width: 50px;
    height: 50px;
    background-color: ;
}

.if-image-right img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.if-leftbox1{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100px;
    height: 30px;
    background-color: dodgerblue;
}

.if-leftbox1 h2{
    margin-top: 9px;
    margin-right: 10px;
    font-family: Syne Mono;
    font-size: 10px;
    color: white;
    text-align: right;
}

.if-leftbox2{
    position: absolute;
    right: 100px;
    top: 0px;
    width: 40px;
    height: 30px;
    background-color: #e6435b;
}

.if-leftbox2 h2{
    margin-top: 8px;
    margin-left: 15px;
    font-family: Syne Mono;
    font-size: 10px;
    color: black;
    text-align: left;
}

.mobile-link-container{
    display: none;
}

@media all and (max-width: 800px) {
    .mobile-link-container{
        display: block;
    }
}

.mobile-link-container svg{
    width: 30px;
}

.mobile-link-1{
    position: absolute;
    right: 120px;
    top: 80px;
}

.mobile-link-2{
    position: absolute;
    right: 65px;
    top: 80px;
}

.mobile-link-3{
    position: absolute;
    right: 10px;
    top: 80px;
}


